:host {
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  padding: 1rem;

  button {
    height: 2rem;
    outline: none;
    border: 1px groove aliceblue;
    border-radius: 0.25rem;
    background-color: white;
    padding: 0.5rem;
  }

  .content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
