:host {
  min-width: 10rem;
  position: relative;

  div {
    border: 1px groove aliceblue;
    border-radius: 0.5rem;
    background-color: white;
    outline: none;

    color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 0.5rem;


    p {
      margin: 0.5rem;
    }

    .chevron {
      transition: transform 0.25s ease-in-out;
      border: 0;
    }
  }

  &.is-expanded {
    .chevron {
      transform: rotate(180deg);
    }
  }

  .selection-panel {
    position: absolute;
    top:  calc(100% - 0.5rem);
    left: 0;
    width: 100%;
    background-color: white;
    border-left: 1px groove aliceblue;
    border-right: 1px groove aliceblue;
    border-bottom: 1px groove aliceblue;
    border-top: 0;
    border-radius: 0 0 0.5em 0.5rem;

    display: flex;
    flex-direction: column;

    align-items: start;

    padding: 0 0.5rem;
    overflow: hidden;

    span {
      margin: 0.5rem;
    }
  }
}

.leave-animation {
  animation: collapse-vertically 0.5s ease-out;
}

.enter-animation {
  animation: expand-vertically 0.5s ease-out;
}

@keyframes expand-vertically {
  from {
    max-height: 0.5rem
  }

  to {
    max-height: 200px;
  }
}

@keyframes collapse-vertically {
  to {
    max-height: 0.5rem;
  }

  from {
    max-height: 200px;
  }
}
