:host {
  min-width: 10rem;
  border: 1px groove aliceblue;
  border-radius: 0.5rem;
  background-color: white;
  outline: none;

  color: black;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0 0.5rem;

  position: relative;

  p {
    margin: 0.5rem;
  }

  .chevron {
    transition: transform 0.25s ease-in-out;
  }


  &.is-expanded {
    border-bottom: none;
    //border-bottom-left-radius: 0;
    //border-bottom-right-radius: 0;
    border-bottom-color: unset;
    .chevron {
      transform: rotate(180deg);
    }
  }

  .selection-panel {
    position: absolute;
    top:  calc(100% - 0.25rem);
    left: -1px;
    width: calc(100% + 2px);
    background-color: white;
    border: 1px groove aliceblue;
    border-radius: 0 0 0.5em 0.5rem;
    border-top-color: darkgray;

    display: flex;
    flex-direction: column;

    padding: 0 0.5rem;

    //top: calc(100% - 0.5rem);

    span {
      margin: 0.5rem;
    }
  }
}

.leave-animation {
  animation: collapse-vertically 0.5s ease-out;
}

.enter-animation {
  animation: expand-vertically 0.5s ease-out;
}

@keyframes expand-vertically {
  from {
    max-height: 0;
  }

  to {
    max-height: 200px;
  }
}

@keyframes collapse-vertically {
  to {
    max-height: 0;
  }

  from {
    max-height: 200px;
  }
}
