:host {
  min-width: 10rem;
  border: 1px groove aliceblue;
  border-radius: 1rem;
  background-color: white;
  outline: none;

  color: black;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0 0.5rem;

  position: relative;

  p {
    margin: 0.5rem;
  }

  .chevron {
    transition: transform 0.25s ease-in-out;
  }


  &.is-expanded {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: unset;
    .chevron {
      transform: rotate(180deg);
    }
  }

  .selection-panel {
    position: absolute;
    top: 100%;
    left: -1px;
    width: calc(100% + 2px);
    background-color: white;
    border: 1px groove aliceblue;
    border-radius: 0 0 1rem 1rem;
    border-top-color: darkgray;

    display: flex;
    flex-direction: column;

    padding: 0.5rem;
  }
}
