:host {
  height: 100%;
  display: grid;
  grid-template:
    "header header" auto
    "main aside" 1fr
    "footer footer" auto / 1fr auto;

  header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  main {
    grid-area: main;
    display: flex;
    flex-direction: column;
  }

  aside {
    grid-area: aside;
  }

  footer {
    grid-area: footer;
    justify-self: center;
  }
}
