:host {
  height: 100%;
  display: grid;
  grid-template: "b" 1fr / 1fr;
  justify-content: center;
  align-items: center;

  .container {
    grid-area: b;
    height: 100%;
    background-color: #16162E;
    padding: 1rem;

    h2 {
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .input-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        div {
          display: flex;
          flex-direction: column;
        }

        input {
          height: 3rem;

          outline: none;
          border: 1px groove aliceblue;
          border-radius: 1rem;
          padding: 0 1rem;

          &.ng-invalid.ng-dirty.ng-touched {
            outline: 2px solid red;
            background-color: lightcoral;
          }
        }
      }


      button {
        height: 3rem;
        outline: none;
        border: 1px groove aliceblue;
        border-radius: 1rem;
        background-color: maroon;
      }
    }
  }

  @media (min-width: 512px) {
    grid-template:
    "a" 6vh
    "b" min-content
    "c" auto
   / minmax(240px, 450px);


    .container {
      border: 1px groove aliceblue;
      border-radius: 1rem;
      grid-area: b;
    }
  }
}
